html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: #F2F6FA;
}

.container .columns {
    margin: .5rem 0;
}

.navbar-menu .navbar-item {
    padding: 0 2rem;
}

aside.menu .menu-list {
    line-height: 1.5;
}

aside.menu .menu-label {
    padding-left: 10px;
    font-weight: 700;
}

.media-left img {
    border-radius: 50%;
}

.media-content p {
    font-size: 14px;
    line-height: 2.3;
    font-weight: 700;
    color: #8F99A3;
}

article.post {
    margin: .5rem;
    padding-bottom: 0;
    border-bottom: 1px solid #E6EAEE;
}

article.post:last-child {
    border-bottom: none;
}

.menu-list li{
    padding: 5px;
}
